  <!-- Main jumbotron the different kind of biking  -->
  <div class="jumbotron">
    <div class="container">
      <h1>Hello, world!</h1>
      <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      <p>
        <%= link_to "Sign Up »", new_user_registration_path, class: "btn btn-primary btn-lg", role: "button" %>
      </p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    Blah
  </div>

<center>
  <h1>Bike HK</h1>
  <br />
  <h2>Begin to Bike</h2>
</center>

<div id="map"></div>
<div id="smallmap"></div>

<isb notransition="true"></isb>
