  <!-- Main jumbotron the different kind of biking  -->
  <div class="jumbotron">
    <div class="container">
      <h1>Hello, world!</h1>
      <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      <p>
        <%= link_to "Sign Up »", new_user_registration_path, class: "btn btn-primary btn-lg", role: "button" %>
      </p>
    </div>
  </div>

  <div class="container">
    <div id="map"></div>
  </div>

  <div class="container">
    <h1> Bike Routes</h1>
    <% @bikeRoutes.each do |bike_route| %>
      <div>
         <%= link_to bike_route.name, bike_route %> |
         <%= bike_route.from %> |
         <%= bike_route.to %>
      </div>
    <% end %>
  </div>
