<h2>Cycling Tip in Hong Kong</h2>

1.  Plan as much of your route along available cycle tracks as possible. If you need to cycle on the highway, take extra care regarding road conditions and note the actions of other road users. Obey traffic light signals, traffic signs and road markings.
2.  Do not ride on expressways or within tunnel areas.
3.  On cycling tracks, you must ride in single file, except when overtaking. Ride along the left side of the track and keep clear of the kerb. Do not drift from side to side or zig-zag through traffic.
4.  Pay attention to weather conditions and changes. In the event of bad weather, be careful of slippery road surfaces and consider shortening or cancelling your cycling plans.
5.  Check the condition of your bike before paying for a rental, be sure you understand the terms and conditions, including rental costs, durations and bike return location etc.
6.  Wear safety helmets and pads before setting off. Ensure your bike is equipped with a bell.
7.  Keep a safe distance from bicycles in front of you and be prepared for them to stop suddenly.
8.  When cycling in the dark or at times of poor visibility, turn on a white light in front and a red light at the rear of your bicycle.
9.  Useful items to bring include a map, water, food, raincoat and first-aid kit. Ensure your belongings are firmly attached to the bike.
10. Do not carry passengers. Do not carry any goods or animals that might obstruct your vision or upset your balance.
11. If you have an emergency, call 112 or 999.

Useful telephone numbers:
24-hour emergency helpline  999 / 112
Transport Department  1823

For more details on cycling safety, please visit the Transport Department.

Copyright © 2014 Hong Kong Tourism Board. 

http://www.discoverhongkong.com/eng/see-do/great-outdoors/cycling/cycling-tips.jsp