// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
//
// LETS'S TALK ABOUT FONTS

@font-face {
  font-family: "Back to the future 2002";
  src: url('fonts/BTTF.ttf') format('truetype');
}
@font-face {
  font-family: "BIKES";
  src: url('fonts/BIKES.otf') format('opentype');
}

// AND STYLING TEXT

body {
  padding-top: 90px;
  font-color: #2B547E;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.42857143;
  background-color: #fff;
}
span.logo1small {
  font-size: 2rem;
  font-weight: 800;
  letter-spacing: -0.08em;
  text-align: center;
  background: -webkit-linear-gradient( 45deg, #f35626 80%, #fcf005 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
span.logo2small {
  font-size: 2rem;
  font-style: oblique;
  font-weight: 100;
  letter-spacing: -0.08em;
  text-align: center;
  background: -webkit-linear-gradient( 45deg, #f35626 80%, #fcf005 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


h1 {
  font-size: 9rem;
  font-weight: 800;
  letter-spacing: -0.08em;
  opacity: 0.85;
  text-align: center;
  background: -webkit-linear-gradient( 45deg, #f35626 40%, #fcf005 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


h2 {
  font-size: 28px;
  color: #f35626;
  text-align: center;
}
h3 {
  font-size: 28px;
  color: #fff;
  text-align: right;
}
.intro {
  margin: 30px;
  height: 508px;
  padding: 30px;
}
.intro p {
  color: #fff;
  font-size: 20px;
  text-align: right;
  line-height: 1.2;

}
.intro h1 {
  color: #fff;
  font-color: white;
  font-family: "BIKES", Helvetica, sans-serif;
  font-size: 200px;
  text-align: center;
  background: -webkit-linear-gradient( 45deg, #fff 40%, #fff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.8;
}
.checkboxwords {
  color: grey;
  font-size: 18px;
  font-weight: 200;
  padding: 10px;
}

#pass {
  font-size: 15px;
}

#futurefont1 {
  background: -webkit-linear-gradient( #f35626, #fcf005);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #f35626; /* Old browsers */
  font-family: "Back to the future 2002", Helvetica, sans-serif;
  font-size: 50px;
  text-align: center;
}
#futurefont2 {
  background: -webkit-linear-gradient( #fcf005, #f35626);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #f35626; /* Old browsers */
  font-family: "Back to the future 2002", Helvetica, sans-serif;
  font-size: 50px;
  margin-bottom: 40px;
}


// BACKGROUND IMAGES
.futurediv {
  background: url(/assets/future.jpg) no-repeat;
  padding-top:150px;
  position: center;
}

.bikebeautiful {
  background: url(/assets/bike-background.jpg) no-repeat;
  height: 1000px;
  width: auto;
}
.middle {
  background: url(/assets/bike-background.jpg) no-repeat;
}


// BOXES GOTTA BE ON TOP SOMETIMES

.blankarea {
  background-color: transparent;
  display: block;
  padding: 500px;
}
.formboxy {
  background-color: #000;
  border-radius: 8px;  
  max-width: 340px;
}
.formboxy-inverse {
  background-color: #fff;
  border-radius: 8px;  
  max-width: 340px;
  opacity: 0.8;
}

// FORMS

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

// MAH MAP DON'T WORK

#map {
  width:800px;
  height: 400px;
}

#smallmap {
  width:400px;
  height: 200px;
}


// MY BUTTON STYLES
// MY NAV BAR BUTTON STYLES

.top-button {
  color: #f35626;
  background-color: transparent;
  border-radius: 6px;
  font-size: 1.2em;
  line-height: 1.375;
  margin: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-animation: hue 60s infinite linear;
}

.long-button {
  border: 3px solid #f35626;
  background-color: #fff;
  width: 280px;
}

.signup {
  border: 2px solid #f35626;
  border-radius: 6px;
  padding: 10px 13px;
}

.top-button:hover, .top-button:focus, .top-button:active {
  color: #fff;
  text-decoration: none;
  text-shadow: none;
  background-color: #f35626;
  border-color: #f35626;
  -webkit-animation: hue 60s infinite linear;
}

.big-ol-button {
  width: 100%;
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 6px;
}

.inverse-button {
  color: #fff;
  background-color: #f35626;
  border: 2px solid #fff;
  border-radius: 6px;
  font-size: 1.2em;
  line-height: 1.375;
  margin: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-animation: hue 60s infinite linear;
}

.inverse-button:hover, .inverse-button:focus, .inverse-button:active {
  color: #f35626;
  text-decoration: none;
  text-shadow: none;
  background-color: #fff;
  border-color: #f35626;
  -webkit-animation: hue 60s infinite linear;
}

// TABLE
table a {
  text-decoration: none;
  color: #2B547E;
}
table a:hover {
  text-decoration: none;
  color: red;
}
th {
  color: #2B547E;
  font-size:18px;
  padding: 1.5em;
}
span.ranking {
  // background-color: orange;
  font-color: #f0;
  font-size: 18px;
  // border: 1px solid orange;
  // border-radius: 1000px;
  padding: 0.8em;
  margin-top: 2em;
  margin-bottom: 2em;
  text-decoration: none;
}
tr {
  font-size: 25px;
  font-weight: 200;
  padding: 2.5em;
  text-decoration: none;
}
td.tablestyle{
  vertical-align: center;
  font-size: 18px;
  padding: 2em;
}