// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
//
// LETS'S TALK ABOUT FONTS

@font-face {
font-family: "Back to the future 2002";
src: url('fonts/BTTF.ttf') format('truetype');
}

// AND STYLING TEXT

body {
  padding-top: 90px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.42857143;
  background-color: #fff
}

h2 {
  font-size: 28px;
  color: #f35626;
  text-align: center;
}

.checkboxwords {
  color: grey;
  font-size: 18px;
  font-weight: 200;
  padding: 10px;
}

#pass {
  font-size: 15px;
}

#futurefont1 {
  background: -webkit-linear-gradient( #f35626, #fcf005);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #f35626; /* Old browsers */
  font-family: "Back to the future 2002", Helvetica, sans-serif;
  font-size: 50px;
  text-align: center;
}
#futurefont2 {
  background: -webkit-linear-gradient( #fcf005, #f35626);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #f35626; /* Old browsers */
  font-family: "Back to the future 2002", Helvetica, sans-serif;
  font-size: 50px;
  margin-bottom: 40px;
}


// BACKGROUND IMAGES
.futurediv {
  background: url(/assets/future.jpg) no-repeat;
  height: auto;
  width: auto;
  padding-top:50px;
}


// BOXES GOTTA BE ON TOP SOMETIMES

.formboxy {
  background-color: #000;
  border-radius: 8px;  
  max-width: 340px;
}

// FORMS

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

// MAH MAP DON'T WORK

#map {
  width:800px;
  height: 400px;
}

#smallmap {
  width:400px;
  height: 200px;
}


// MY BUTTON STYLES
// MY NAV BAR BUTTON STYLES

.top-button {
  color: #f35626;
  background-color: transparent;
  border: 2px solid #f35626;
  border-radius: 6px;
  font-size: 1.2em;
  line-height: 1.375;
  margin: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-animation: hue 60s infinite linear;
}

.long-button {
  border: 3px solid #f35626;
  background-color: #fff;
  width: 280px;
}

.signup {
  padding: 10px 13px;
}

.top-button:hover, .top-button:focus, .top-button:active {
  color: #fff;
  text-decoration: none;
  text-shadow: none;
  background-color: #f35626;
  border-color: #f35626;
  -webkit-animation: hue 60s infinite linear;
}

.big-ol-button {
  width: 100%;
  padding: 15px 30px;
  font-size: 20px;
  border-radius: 6px;
}

.inverse-button {
  color: #fff;
  background-color: #f35626;
  border: 2px solid #fff;
  border-radius: 6px;
  font-size: 1.2em;
  line-height: 1.375;
  margin: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-animation: hue 60s infinite linear;
}

.inverse-button:hover, .inverse-button:focus, .inverse-button:active {
  color: #f35626;
  text-decoration: none;
  text-shadow: none;
  background-color: #fff;
  border-color: #f35626;
  -webkit-animation: hue 60s infinite linear;
}
